{% extends "events/layout.html" %}
{% load event_extras %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Calendar{% endblock %}
{% block content %}
{{ block.super }}


<div id="calendar">
	{% if events %}
	    {% daily_calendar calyear calmonth calday from_time to_time delta events %}
	    {% for event in events %}
	    {{ event.name }}
	    {% endfor %}
   {% else %} 
   	 {% daily_calendar calyear calmonth calday from_time to_time delta %}
   {% endif %}
</div>

{% endblock %}
