{% extends 'events/layout.html' %}
{% load event_extras %}
{% load staticfiles %}

{% block title %} {{ form.instance.name|default:"New Event" }} {{ block.super }} {% endblock %}
{% block static %}
    <script type="text/javascript" src="{% static 'js/handle.click.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap3/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap3/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
    $(function addTimePicker() {
        $('.timepicker').datetimepicker()
    })
    </script>
    <script type="text/javascript">
    $(function() {
        $('.formset_row').formset({
                addText: 'Add occurrence',
                deleteText: 'Remove',
                prefix: 'occurrence_set',
            });
        })
         </script>

    <script type="text/javascript">
        function selectEvent() {
        var eventVal=document.getElementById("id_event_type").value;  

        if (eventVal == "R"){
            $('#Multiple').hide();
            $('#Recurring').show();
        } else
            {
            $('#Multiple').show();
            $('#Recurring').hide();
            }
        }
         </script>
{% endblock %}
{% block content %}

<div>
    <h1>{{ form.instance.name|default:"Enter a new Event" }}</h1>
        <form id="events_form" method="POST" action="">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" name="post_occurrences" value="Save"/> <a href="{% url 'events:event_list' %}">Cancel</a>

        <div id="Multiple">

        {% if form.instance.event_type == "R" %}
        <p>Recurring</p>
        {% elif form.instance.event_type == "S" %}
        <p>Simple</p>
        {% endif %}
        {% for formset in inlines %}
            {{ formset.management_form }}
            {% for subform in formset %}
                <div class="subform">
                    {{ subform }}
                </div>
            {% endfor %}
        {% endfor %}
            <table class="table">
                {% for occur_form in occurrences.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in occur_form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <div style="position: relative"></div>
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in occur_form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in occur_form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <ul style="list-style:none">
                                {{ field.errors.as_ul }}
                                </ul>
                                {{ field }}
                            </td>
                        {% endfor %}
                           {#	<input type="checkbox" value="All Day Event"/> #}
                    </tr>
					</div>
                {% endfor %}
                
            </table>
                {{ occurrences.management_form }}

        </div>
        <div id="Recurring" style="display:none;">
        <input type="submit" name="post_recurrent" value="Save"/> <a href="{% url 'events:event_list' %}">Cancel</a>

            <table>
            	<th>Recurring Event</th>
        			<tr id="test"><td>{{ recurring_events.freq }}</td>

        			</tr>
					<tr>
						<td>Begin Date: {{ recurring_events.dtstart }}</td>
						<td id="hideOnClick">End Date: {{ recurring_events.until }}</td>        								
					</tr>
					<tr>
					<td></td>
               <td>
        				<label for="cb"><input id="cb" type="checkbox" onclick="handleClick(this);"/>No End Date</label>
					</td>
		        	</tr>
 					<tr><td>{{ recurring_events.tstart }}</td></tr>
        			<tr><td>{{ recurring_events.tend }}</td></tr>
        			<tr></tr>
            </table>

		</div>
    <br>

    </form>
</div>


    {% endblock %}
