{% extends 'events/layout.html' %}
{% load event_extras %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block title %} {{ form.instance.name|default:"New Event" }} {{ block.super }} {% endblock %}
{% block content %}
{% if form.instance.event_type %}
      {{form.instance.event_type}}
{% else %}
      {{form.data.event_type}}
{% endif %}
<div>
    <h1>{{ form.instance.name|default:"Enter a new Event" }}</h1>
        <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="Multiple">

        {% csrf_token %}
        <input type="submit" name="post_occurrences" value="Save1"/> <a href="{% url 'events:event_list' %}">Cancel</a>
            <table class="table">

                {{ occurrences.management_form }}
                {% for oform in occurrences.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in oform.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        {% for field in oform.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in oform.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                <ul style="list-style:none">
                                {{ field.errors.as_ul }}
                                </ul>
                                {{ field }}
                            </td>
                        {% endfor %}
                       <td>
        				<input type="checkbox" value="All Day Event"/>
					</td>
                    </tr>
                {% endfor %}
                
            </table>

        </div>
        <div id="Recurring" style="display:none;">
        <input type="submit" name="post_recurrent" value="Save2"/> <a href="{% url 'events:event_list' %}">Cancel</a>

            <table>
            	<th>Recurring Event</th>
        			<tr id="test"><td>{{ recurring_events.freq }}</td>

        			</tr>
					<tr>
						<td>Begin Date: {{ recurring_events.dtstart }}</td>
						<td id="hideOnClick">End Date: {{ recurring_events.until }}</td>        								
					</tr>
					<tr>
					<td></td>
               <td>
        				<label for="cb"><input id="cb" type="checkbox" onclick="handleClick(this);"/>No End Date</label>
					</td>
		        	</tr>
 					<tr><td>{{ recurring_events.tstart }}</td></tr>
        			<tr><td>{{ recurring_events.tend }}</td></tr>
        			<tr></tr>
            </table>

		</div>
    <br>

    </form>
</div>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/handle.click.js' %}"></script>
    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Add occurrence',
            deleteText: 'Remove',
            prefix: 'occurrence_set'
        });
    </script>
    <script>
        ${document}.getElementById("id_event_type").onchange = function() {myFunction()};

        function myFunction() {
            ${alert}("foobar")
        }
    </script>

    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/forms.css' %} "/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/base.css' %} "/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'admin/css/widgets.css' %}"/>
    
    <script type="text/javascript">
    function selectEvent() {
    var eventVal=document.getElementById("id_event_type").value;  

    if (eventVal == "R"){
    $('#Multiple').hide();
    $('#Recurring').show();

    } else
        {
        $('#Multiple').show();
        $('#Recurring').hide();
    
    }
    }
         </script>

    <script type="text/javascript" 
        src="/admin/jsi18n/"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/actions.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" 
        src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
    {% endblock %}
