{% extends "events/layout.html" %}
{% load event_extras %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
 

{% block title %}{{ church_name }} Event List{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Event List</h1>
    <div class="right">
	    <a href="{% url 'events:event_create' %}">New Event</a>
    </div>
    <table class="fam_list">
        <tr>
            <td>Time</td>
            <td>Duration</td>
            <td>Event Name</td>
            <td>Event Group</td>
        {% for event in events %}
	        <tr>
            <td>{{ event.start_time }}</td>
            <td>{{ event.get_duration }}</td>
            <td><a href="{% url 'events:event_detail' pk=event.event.pk %}">{{ event.event.name }}</a></td>
            <td>{{ event.event.group }}</td>
	 </tr>
    {% endfor %}
    </table>
    <br>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
