{% extends "events/layout.html" %}
{% load event_extras %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %}Calendar{% endblock %}
{% block content %}
{{ block.super }}


<p> year {{ calyear }}</p>
<p>month {{ calmonth }}</p>
<div id="calendar">
	{% if events %}
    	{% monthly_calendar calyear calmonth events %}
   {% else %} 
   	 {% monthly_calendar calyear calmonth %}
   {% endif %}
</div>

{% endblock %}
