{% extends "events/layout.html" %}
{% load event_extras %}
{% load static %}

{% block title %}Calendar{% endblock %}
{% block static %}
<script type="text/javascript" src="{% static 'js/handle.click.js' %}"></script>
<link rel='stylesheet' href="{% static 'css/fullcalendar.min.css' %}" />
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
{% endblock %}
{% block content %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {{ events|create_list|safe}},
      dayClick: function(date, jsEvent, view, resourceObj) {

        //alert('Date: ' + date.format());
        //alert('Resource ID: ' + resourceObj.id);
          window.location = "{% url 'events:event_create' %}" + date.format()
    }
    });

});
</script>
<div id='calendar'></div>


{% endblock %}
