asgiref==3.2.10
beautifulsoup4==4.9.1
bootstrap3-datetime==2.4
dj-database-url==0.5.0
Django==3.0.7
django-appconf==1.0.4
django-autocomplete-light==3.5.1
django-autoslug==1.9.7
django-autoslug-iplweb==1.9.4.dev0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-bootstrap3==14.0.0
django-bootstrap3-datetimepicker-2==2.8.2
django-bootstrap4==2.1.1
django-braces==1.14.0
django-cities-light==3.6.0
django-debug-toolbar==2.2
django-extra-views==0.13.0
django-formset-bootstrap==1.4.0.dev3
django-imagekit==4.0.2
django-jquery==3.1.0
django-localflavor==3.0.1
django-markdown2==0.3.1
django-model-utils==4.0.0
django-smart-selects==1.5.6
django-static-jquery==2.1.4
django-tables2==2.3.1
djangorestframework==3.11.0
gunicorn==20.0.4
jsonify==0.5
markdown2==2.3.9
pilkit==2.0
Pillow==7.1.2
progressbar2==3.51.3
pypandoc==1.5
python-dateutil==2.8.1
python-stdnum==1.13
python-utils==2.4.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
Unidecode==1.1.1
