asgiref==3.2.10
beautifulsoup4==4.9.1
bootstrap3-datetime==2.4
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.9
django-allauth==0.42.0
django-appconf==1.0.4
django-autocomplete-light==3.5.1
django-autoslug==1.9.8
django-autoslug-field==0.2.3
django-autoslug-iplweb==1.9.4.dev0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-bootstrap3==14.0.0
django-bootstrap3-datetimepicker-2==2.8.2
django-bootstrap4==2.1.1
django-braces==1.14.0
django-cities-light @ git+https://github.com/jazzband/django-cities-light.git@47ece311cc092e4f9482c3e87f931bf11f327cf5
django-debug-toolbar==2.2
django-extra-views==0.13.0
django-formset-bootstrap==1.4.0.dev3
django-imagekit==4.0.2
django-jquery==3.1.0
django-localflavor==3.0.1
django-markdown2==0.3.1
django-model-utils==4.0.0
django-smart-selects==1.5.9
django-static-jquery==2.1.4
django-tables2==2.3.1
djangorestframework==3.11.0
gunicorn==20.0.4
idna==2.10
jedi==0.17.2
jsonify==0.5
markdown2==2.3.9
oauthlib==3.1.0
parso==0.7.1
pilkit==2.0
Pillow==7.1.2
progressbar2==3.52.1
pypandoc==1.5
python-dateutil==2.8.1
python-stdnum==1.13
python-utils==2.4.0
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.10
