{% extends 'groups/layout.html' %}
{% load family_extras %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block title %} {{ form.instance.group_name|default:"New Group" }} {{ block.super }} {% endblock %}
{% block content %}
<div>
    <h1>{{ form.instance.group_name|default:"Enter a new group" }}</h1>
    <form method="POST" action="">
    <table class="formtable">
        {% csrf_token %}
        <tr><td>{{ form.group_name.label }}</td><td>{{ form.group_name }}</td><td></td></tr>
        <tr><td>{{ form.group_type.label }}</td><td>{{ form.group_type }}</td><td><a href="{% url 'groups:grouptype_create' %}">New Group Type</a></td></tr>
        <tr><td>{{ form.group_description.label }}</td><td>{{ form.group_description }}</td><td></td></tr>
        {{ form.media }}
        <tr><td>
        <input type="submit" class="button" value="Save"></td><td><a class="button" href="{% url 'groups:group_list' %}">Cancel</a></td>
        </td><td></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}


