{% extends "layout.html" %}

{% block title %}{{ group.group_name }}{% endblock %}
{% block content %}
<article>
		<h2>{{ group.group_name }}</h2>

        <ul style="list-style-type:none">
        			<li>{{ group.group_type }}</li>
        			<li>{{ group.group_description }}</li>
								</ul>


    {% if user.is_authenticated %}
            <a href="{% url 'groups:group_edit' pk=group.pk %}"
                class="button">Edit Group</a>
			<br>
            <a href="{% url 'groups:group_delete' pk=group.pk %}"
                class="button">Delete Group</a>
        <hr>
    {% endif %}

		<section>
				{% for group_member in group.groupmember_set.all %}
                        <h3><a href="{{ group_member__families.member.get_absolute_url }}">{{ group_member.member }}</a>: {{ group_member.member_role }}</h3>
                                    <a href="{% url 'groups:member_delete' pk=group_member.pk group_pk=group.pk %}">Remove</a>
                   
				{% endfor %}
		</section>
</article>	
 <a href="{% url 'groups:member_create' group_pk=group.pk %}" class="button">Add Member</a>
	<br>

        	<a href="{% url 'groups:group_list' %}">Back to list</a>
{% endblock %}
