{% extends "layout.html" %}

{% block title %}{{ group.group_name }}{% endblock %}
{% block content %}
<article>
		<h2>{{ group.group_name }}</h2>

        <ul style="list-style-type:none">
        			<li>{{ group.group_type }}</li>
        			<li>{{ group.group_description }}</li>
								</ul>


    {% if user.is_authenticated %}
            <a href="{% url 'groups:group_edit' pk=group.pk %}"
                class="button">Edit Group</a>
			<br>
            <a href="{% url 'groups:group_delete' pk=group.pk %}"
                class="button">Delete Group</a>
        <hr>
    {% endif %}

		<section>
				{% for group_member in group.groupmember_set.all %}
                    {% if group_member__adult %}
                        <h3><a href="{{ group_member__member.get_absolute_url group_member__member__family.pk 'a' group_member__member.pk}}">{{ group_member.member }}</a>: {{ group_member.member_role }}</h3>
                    {% else %}
                        <h3><a href="{{ group_member__member.get_absolute_url group_member__member__family.pk 'a' group_member__member.pk}}">{{ group_member.member }}</a>: {{ group_member.member_role }}</h3>
				{% endfor %}
		</section>
</article>
        	<a href="{% url 'groups:group_list' %}">Back to list</a>
{% endblock %}
