div.right {
    float: right;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #111;
}

ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.pagination li {
	display: inline
}

