{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize event_extras %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title%}Login | {{ block.super }}{% endblock %}

{% block content %}

<div class=container>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}
