{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title%}Forgot Your Password? | {{ block.super }}{% endblock %}

{% block content %}

<div class=container>
    <h1>Forgot your password?</h1>
    <p>Enter the password associated with this account, and we'll send you instructions on how to change your password.</p>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Send me instructions!">
    </form>
</div>

{% endblock %}
