body.cal {
      line-height: 1;
      margin: 50px;
    }
div.cal {
      background: rgba(0, 0, 0, .1);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 15px;
      width: 100%;
      
    }

header.cal {
      overflow: clear;
      position: relative;
    }

h2.cal {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 10px;
      text-align: center;
    }

button.cal {
      position: absolute;
      top: -4px;
    }

button.cal:first-child {
      left: 0;
    }

button.cal:last-child {
      right: 0;
    }

table.cal {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      width: 100%;
    }

td.cal {
      border: 1px solid #ccc;
      color: #444;
      line-height: 22px;
      text-align: left;
      vertical-align: top;
    }
tr.cal {
     	height: 150px;
    }  

tr.thead {
	height: 30px;
}

th.cal {
      border: 1px solid #ccc;
      text-align: center;
      vertical-align: middle;
    }	

 td.day {
      border: 1px solid #ccc;
      color: #444;
      line-height: 22px;
      text-align: left;
      vertical-align: top;
    }  
    

.selected.cal {
      background: #f0951d;
      border: 0;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
    }
div.right {
    float: right;
}
div.center {
    float: center;
}
table.fam_list {
    border-collapse: collapse;
    width: 100%;
}

table.fam_list th, td {
    text-align: left;
    padding: 8px;
}

table.fam_list tr:nth-child(even){background-color: #eaecf2}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D4AF37;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #2B50C8;
}

ul.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

ul.nav2 li {
    float: left;
}

ul.nav2 li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.pagination li {
	display: inline
}

