div.right {
    float: right;
}
div.center {
    float: center;
}
table.fam_list {
    border-collapse: collapse;
    width: 100%;
}

table.fam_list th, td {
    text-align: left;
    padding: 8px;
}

table.fam_list tr:nth-child(even){background-color: #eaecf2}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D4AF37;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #2B50C8;
}

ul.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

ul.nav2 li {
    float: left;
}

ul.nav2 li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.pagination li {
	display: inline
}

