{% extends 'layout.html' %}

{% block title %} {{ form.instance.first_name }} {{ form.instance.last_name|default:"New Dependent Member" }} | {{ family.last_name }} {{ block.super }} {% endblock %}
{% block content %}
<div class="row">
    <h1>{{ form.instance.first_name }} {{ form.instance.last_name|default:"Create a new Dependent Member" }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="save">
    </form>
</div>
{% endblock %}
