{% extends "families/layout.html" %}
{% load bootstrap3 %}
{# {% load static from staticfiles %}#}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# {% block static %}<link rel="stylesheet" href="{% static 'family/css/family.css' %}">{% endblock %} #}
{% block title %}Families{% endblock %}

{% block content %}
{{ block.super }}
    <div class="cards">
        {% for family in families %}
            <div class="card">
                <header><a href="{% url 'families:detail' pk=family.pk %}">{{ family.family_name }}</a></header>
                <div class="card-copy">
                    {% if family.notes|wordcount <= 5 %}
                        {{ family.notes }}
                    {% else %}
                        {{ family.notes|truncatewords:5 }}
                        <a href="{% url 'families:detail' pk=family.pk %}">Read more</a>
                    {% endif %}
                </div>
                <p>Created on: {{ family.created_at|date:"Y-m-d" }}</p>
            </div>
        {% endfor %}
        <div> Questions? Email me! {{ email|urlize }}
    </div>
{% endblock %}
