{% extends "families/layout.html" %}
{% load bootstrap3 %}
{# {% load static from staticfiles %}#}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# {% block static %}<link rel="stylesheet" href="{% static 'family/css/family.css' %}">{% endblock %} #}
{% block title %}Families{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Families</h1>
    <div class="right">
	    <a href="{% url 'families:create_family' %}">New Family</a>
    </div>
    <table>
        {% for family in families %}
	<tr>
            <td>
                <header><a href="{% url 'families:detail' pk=family.pk %}">{{ family.family_name }}</a></header>
            </td>
	{% for member in family.adult_set.all %}
	<td> <a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td> 
        {% endfor %}
	{% for member in family.dependent_set.all %}
	<td> <a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td> 
        {% endfor %}
        {% endfor %}
    </table>
        <div> Questions? Email me! {{ email|urlize }}
    </div>
{% endblock %}
