{% extends "families/layout.html" %}
{% load bootstrap3 %}
{# {% load static from staticfiles %}#}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# {% block static %}<link rel="stylesheet" href="{% static 'family/css/family.css' %}">{% endblock %} #}
{% block title %}Families{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Families</h1>
    <div class="right">
	    <a href="{% url 'families:create_family' %}">New Family</a>
    </div>
    <table>
	 <thead>
    <tr>
      <th>Family Name</th>
      <th columnspan="2">Adults</th>
      <th columnspan="20">Children</th>
    </tr>
  </thead>
        {% for family in families %}
	<tr>
            <td>
                <header><a href="{% url 'families:detail' pk=family.pk %}">{{ family.family_name }}</a></header>
            </td>
	{% for member in family.adult_set.all %}
	<td> <a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td> 
        {% endfor %}
	{% for member in family.child_set.all %}
	<td> <a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td> 
        {% endfor %}
        {% endfor %}
    </table>
	<br><br>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        <div> Questions? Email me! {{ email|urlize }}
    </div>
{% endblock %}
