{% extends 'layout.html' %}
{% block title %} 
    {{ family }} {{ form.instance.first_name|default:"New Member" }} {{ block.super }} 
{% endblock %}

{% block content %}
    <div class="row">
        {% if  member_type  == "a" %}
            <h1>{{ form.instance.first_name }} {{ form.instance.last_name|default:"Add a New Adult Member" }}</h1>
        {% else %}
            <h1>{{ form.instance.first_name }} {{ form.instance.last_name|default:"Add a New Child Member" }}</h1>
        {% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="Save"><a href="{% url 'families:family_detail' pk=family_pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}
