{% extends "layout.html" %}
{% load family_extras %}

{% block title %} {{ member.last_name }},{{ member.first_name }} {% endblock %}

{% block content %}
<article>
	<h2>{{ member.family.family_name }}</h2>
	<h3>{{ member.first_name }} {{ member.last_name }}</h3>
	<h4>{{ member.birth_date }}</h3>
	{% if member_type == 'd' %}
	<p>Age: {{ age }}</p>
	{% endif %}
</article>

{% if user.is_authenticated %}
    <hr>
{% endif %}
<br>
	<a href="{% url 'families:list' %}">Browse Families</a>
<br>
    <a href="{{ member.family.get_absolute_url }}">Doepp Family</a>
					
{% endblock %}
