{% extends "layout.html" %}
{% load family_extras %}

{% block title %} {{ member.last_name }},{{ member.first_name }} {% endblock %}

{% block content %}
<article>
	<h2>{{ member.family.family_name }}</h2>
	<h3>{{ member.first_name }} {{ member.last_name }}</h3>
    {% with notes=member.notes %}
    {{ notes|linebreaks }} The notes contain {{ notes|wordcount }} words.
    Estimated time: {{ notes|wordcount|time_estimate }} minute{{ notes|wordcount|time_estimate|pluralize }}
    {% endwith %}
</article>

{% if user.is_authenticated %}
    <hr>
{% endif %}
{% endblock %}
