{% load static from staticfiles %}

<!doctype html>
<html>
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
	  <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="{% static 'css/layout.css' %}">
      {% block static %}{% endblock %}
  </head>
  <body>
  <div class="site-container">
	 <nav>
		 <ul class="nav">
			 <li class="nav"><a class="nav" href="{% url 'home' %}">Home</a></li>
			 <li class="nav"><a class="nav" href="{% url 'families:family_list' %}">Families</a></li>
			 <li class="nav"><a class="nav" href="{% url 'groups:group_list' %}">Groups</a></li>
			</ul>
		</nav>
  </div>
		  {% block content %}{% endblock %}
  </body>
</html>
