{% extends "families/layout.html" %}
{% load family_extras %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{# {% block static %}<link rel="stylesheet" href="{% static 'family/css/family.css' %}">{% endblock %} #}
{% block title %}Directory{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Directory</h1>
    <div class="right">
	    <a href="{% url 'families:family_create' %}">New Family</a>
    </div>
    <table class="fam_list">
	 <thead>
    <tr>
      <th>Family Name</th>
      <th colspan="2">Adults</th>
      <th>Children</th>
    </tr>
  </thead>
        {% for family in families %}
	<tr>
            <td>
                <header><a href="{% url 'families:family_detail' pk=family.pk %}">{{ family.family_name }}</a></header>
            </td>


	{% for member in family.get_adults %}
	<td> <a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td> 

    {% endfor %}
	<td>
	{{ family.get_children_names|join_by }}
	<!-- {{ member.first_name }} -->

	</td>
    {% endfor %}
    </table>
	<br>
    <a href="{% url 'families:addressbook' %}">Create Addressbook PDF<a>
    <br>
    <br>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}


