{% extends "layout.html" %}
{% load humanize family_extras %}

{% block title %}The {{ family.family_name }} Family{% endblock %}
{% block content %}
<article>
		<h2>The {{ family.family_name }} Family</h2>
		<table style="width:100%">
				<tr>
				<td>
						<div>
								<ul style="list-style-type:none">
        			<li>{{ family.address1 }}</li>
        			<li>{{ family.address2 }}</li>
					<li>{{ family.city }}</li>
        			<li>{{ family.postal_code }}</li>
        			<li>{{ family.region }}</li>
        			<li>{{ family.country }}</li>
								</ul>
						</div>
				</td>
						<td>
								{% if family.image %}
							<img src="{{ family.image.url }}" alt="{{ family.family_name }} Family Photo" width="500">
								{% else %}
							<img src="/media/photos/family.png" alt="{{ family.family_name }} Family Photo" width="500">
								{% endif %}
						</td>
			</table>
        {{ family.notes|markdown_to_html}}
    {% if user.is_authenticated %}
            <a href="{% url 'families:family_edit' pk=family.pk %}"
                class="button">Edit Family Data</a>
			<br>
            <a href="{% url 'families:family_delete' pk=family.pk %}"
                class="button">Delete Family</a>
        <hr>
    {% endif %}

		<table>
				{% for adult in family.get_adults %}
                <tr>
                <td>
                    <h3>
                    <a href="{{ adult.get_absolute_url }}">{{ adult.first_name }}</a> 
                    {% if adult.last_name != family.family_name %}
					    {{ adult.last_name }}
                    {% endif %}
                    </h3>
                </td> 
                <td> <a href="{% url 'families:member_edit' member_pk=adult.pk family_pk=family.pk %}">Edit</a> </td>
                <td> <a href="{% url 'families:member_delete' pk=adult.pk family_pk=family.pk %}">Remove</a> </td>
                </tr>
				{% endfor %}
		</table>
		<table>
				{% for child in family.get_children %}
                <tr>
                    <td>
                    <h3>
                        <a href="{{ child.get_absolute_url }}">{{ child.first_name }} </a> 
                    {% if child.last_name != family.family_name %}
					    {{ child.last_name }}
                    {% endif %}
                    </h3>
                        </td>
                <td> <a href="{% url 'families:member_edit' member_pk=child.pk family_pk=family.pk %}">Edit</a></li> </td>
                <td> <a href="{% url 'families:member_delete' pk=child.pk family_pk=family.pk %}">Remove</a></li> </td>
                </tr>
				{% endfor %}
		</table>


    </article>
    {% if user.is_authenticated %}
            <a href="{% url 'families:member_create' family_pk=family.pk %}" class="button">Add Member</a>
	<br>
    {% endif %}
	<a href="{% url 'families:family_list' %}">Back to list</a>
{% endblock %}
