{% extends "layout.html" %}
{% load humanize family_extras %}

{% block title %}The {{ family.family_name }} Family{% endblock %}
{% block content %}
<article>
		<h2>The {{ family.family_name }} Family</h2>
		<table style="width:100%">
				<tr>
				<td>
						<div>
								<ul style="list-style-type:none">
        			<li>{{ family.address1 }}</li>
        			<li>{{ family.address2 }}</li>
					<li>{{ family.city }}</li>
        			<li>{{ family.postal_code }}</li>
        			<li>{{ family.region }}</li>
        			<li>{{ family.country }}</li>
								</ul>
						</div>
				</td>
						<td>
								{% if family.image %}
							<img src="{{ family.image.url }}" alt="{{ family.family_name }} Family Photo" width="500">
								{% else %}
							<img src="/media/photos/family.png" alt="{{ family.family_name }} Family Photo" width="500">
								{% endif %}
						</td>
			</table>
        {{ family.notes|markdown_to_html}}
    {% if user.is_authenticated %}
            <a href="{% url 'families:family_edit' pk=family.pk %}"
                class="button">Edit Family Data</a>
			<br>
            <a href="{% url 'families:family_delete' pk=family.pk %}"
                class="button">Delete Family</a>
        <hr>
    {% endif %}

		<section>
				{% for member in family.get_adults %}
                    <h3> <a href="{{ member.get_absolute_url }}">{{ member.first_name }} </a> 
                    {% if member.last_name != family.family_name %}
					    {{ member.last_name }}
                    {% endif %}
                        </h3>
				{% endfor %}
				{% for member in family.get_children %}
                    <h3> <a href="{{ member.get_absolute_url }}">{{ member.first_name }} </a> 
                    {% if member.last_name != family.family_name %}
					    {{ member.last_name }}
                    {% endif %}
                        </h3>
				{% endfor %}
		</section>


    </article>
    {% if user.is_authenticated %}
    {% if family.get_adults|length  < 2 %}
            <a href="{% url 'families:adult_create' family_pk=family.pk %}" class="button">New Adult</a>
            <br>
    {% endif %}
            <a href="{% url 'families:child_create' family_pk=family.pk %}" class="button">Add Child</a>
	<br>
    {% endif %}
	<a href="{% url 'families:family_list' %}">Back to list</a>
{% endblock %}
