{% extends 'families/layout.html' %}
{% load family_extras %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block title %} {{ form.instance.family_name|default:"New Family" }} {{ block.super }} {% endblock %}
{% block content %}
<div>
    <h1>{{ form.instance.family_name|default:"Enter a new family" }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <input type="submit" class="button" value="Save"><a href="{% url 'families:list' %}">Cancel</a>
    </form>
</div>
{% endblock %}


