{% extends "layout.html" %}

{% block title %}Families | {{ block.super }}{% endblock %}

{% block content %}
    {{ block.super }}
	    <div class="right">
	    <form action="{% url 'families:search' %}" method="GET">
            <input type="search" name="q">
			    <button type="button">
			    </button>
	    </form>
	    </div>
                <ul class="nav2">
            <li><a href="{% url 'families:family_list' %}">List by Family</a><li>
            <li><a href="{% url 'families:member_list' %}">List by Member</a><li>
        </ul>
{% endblock %}
