{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block title %} 
    {{ family }} {{ form.instance.first_name|default:"New Member" }} {{ block.super }} 
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ form.instance.first_name }} {{ form.instance.last_name|default:"Add a New Member" }}</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="button" value="Save"><a href="{% url 'families:family_detail' pk=family_pk %}">Cancel</a>
        </form>
    </div>
{% endblock %}
