{% extends 'layout.html' %}

{% block title %} 
    {{ family }} {{ form.instance.first_name|default:"New Member" }} {{ block.super }} 
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ form.instance.first_name }} {{ form.instance.last_name|default:"Add a New Member" }}</h1>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="Save"><a href="{% url 'families:family_detail' pk=family_pk %}">Cancel</a>
        </form>
    </div>
    </div>
{% endblock %}
